@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400;1,700&display=swap');


.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}




.logo{
    display:flex;
    align-items: center;
    gap:5px;
    z-index: 9;
  
}
.logo-img{
width: 40px;
height:40px;
border-radius: 50%;
object-fit:cover;
cursor: pointer;
margin-top: 10px;
margin-left: 5px;
}
.logo-name{
    display:inline-block;
font-family: 'Roboto Condensed', sans-serif;
color:rgb(255, 255, 255);
margin-top: 8px;
font-size: 1.4rem;
letter-spacing:-0.25rem;;
cursor: pointer;


}
.us-logo{
    font-family: 'Dancing Script', cursive;
    
}
.links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.link{
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    color:rgb(227, 193, 131);
    text-decoration: none;
    cursor:pointer;
    z-index: 999;
    background-color: rgb(80, 42, 42);
    padding: 5px;
    border-radius: 5px;

}
.link:hover{
    background-color: transparent;
    
}
.search{
    background-color: white;
    width:25px;
    height: 25px;
    border-radius: 50%;;
    text-align: center;
    z-index: 9;
}
.search-icon{
    border-radius: 50%;
    color:rgb(161, 133, 96);
    height:100%;
    font-size: 1rem;
    cursor: pointer;
    
    
}
.text-navbar{
    
    
    z-index: 9;
}
.hello-text{
   
    font-family: 'Dancing Script', cursive;
    font-size:0.8rem;
    letter-spacing: 0.3rem;
    font-weight: 800;
margin-right:1rem;
cursor: pointer;
color:rgb(250, 231, 196);
    background-color: rgb(80, 42, 42);
    text-decoration: none;
    padding: 5px;

}
@media screen and (max-width:1000px) {
    .search{
        display: none;
    }
    .link{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:600px) {
    .logo{
       width: 1rem;
    }
    .link{
        font-size: 0.6rem;
    }
    .hello-text{
        display: none;

    }
}
